


.landingtagline {
    margin-top:15%;
    margin-left:30%;
}

.jumbotron {
background-image: url(assets/images/Picture1.png);
background-size: cover;
width: 100%;
height: 100vh;
}

.footercopyright {
    text-align: center;
}

.btn-ellery {
    background-color: #DE5D83;
}

.instagramSectionTitle {
    text-align:center;
}


/* To align footer */
/*http://www.websitecodetutorials.com/code/css/css-center-nav.php*/

.navfooter{
    text-align:center;
}

.navfooter ul {
    display: inline-block;
    list-style-type: none;
}

.navfooter li{
    display:inline;
}

.navfooter a{
    padding: 0 30px;
}


/*admin*/
.jumbotron_admin {
background-image: url(assets/images/Picture2.png);
background-size: cover;
width: 100%;
height: 100%;
}

.search-type input {
    height: 27px !important;
}
.search-type, .keyword, .sort-by {
    padding-bottom: 10px;
}
.list-header {
    text-align: right;
}
.product {
    padding-bottom: 20px;
}
.product h4{
    height: 40px;
}
.product h5{
    height: 50px;
}
.list .product img {
    width: 260px;
    height: 100px;
}
.list .product button {
    width: 100%;
    padding: 10px 0;
}
