<div class="container">
    <h1>Edit {{ctrl.product.name}}</h1>
    <hr>
    <div class="row">
        <div class="product col-lg-8 col-md-6 col-sm-12">
            <form name="saveForm" ng-submit="ctrl.save();">
                <div class="form-group">
                    <label for="title">Product Name:</label>
                    <input class="form-control" type="text" id="title" ng-model="ctrl.product.name" required>
                </div>
                <div class="form-group">
                    <label for="title">Category:</label>
                    <input class="form-control" type="text" id="title" ng-model="ctrl.product.category" required>
                </div>
                <div class="form-group">
                    <label for="title">Base Material:</label>
                    <input class="form-control" type="text" id="title" ng-model="ctrl.product.base_material" required>
                </div>
                <div class="form-group">
                    <label for="title">Retail Price:</label>
                    <input class="form-control" type="text" id="title" ng-model="ctrl.product.price_retail" required>
                </div>
                <div class="form-group">
                    <label for="title">Sale Price:</label>
                    <input class="form-control" type="text" id="title" ng-model="ctrl.product.price_sale" required>
                </div>
                <div class="form-group">
                    <label for="title">Inventory Quantity:</label>
                    <input class="form-control" type="text" id="title" ng-model="ctrl.product.inventory_quantity" required>
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-default" ng-click="ctrl.cancel();">Cancel</button>
                <button type="button" class="btn btn-danger" ng-click="ctrl.remove();">Remove</button>
            </form>
        </div>
    </div>
</div>